@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <title>Tu plataforma de trabajadores autónomos</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
</head>

    <div class="custom-container">
        <div class="custom-section">
            <h2>¿Estás buscando trabajadores?</h2>
            <p>Regístrate para acceder a la plataforma y buscar trabajadores disponibles.</p>
            <a class="custom-btn" asp-area="" asp-page="/registrar"><h4>Registrarse</h4></a>
        <a class="custom-btn" asp-area="" asp-page="/registrar"><h4>Entrar</h4></a>
            @*<a class="nav-link text-dark" asp-area="" asp-page="/registrar"><h4>Registrarse</h4></a>*@
        </div>

        <div class="custom-section">
            <h2>¿Quieres publicitarte como trabajador?</h2>
            <p>Regístrate como trabajador para ofrecer tus servicios y ser encontrado por los usuarios.</p>
            <a class="custom-btn" asp-area="" asp-page="/registrar"><h4>Registrarse</h4></a>
        <a class="custom-btn" asp-area="" asp-page="/registrar"><h4>Entrar</h4></a>
        </div>
    </div>



@*<section id="search">


    <h2>Encuentra el trabajador autónomo que necesitas</h2>
    <form>
        <input type="text" placeholder="Buscar por servicio, ubicación, etc.">
        <label for="servicios">Selecciona un servicio:</label>
        <select name="servicios" id="servicios">
            <option value="">Todos los servicios</option>
            <option value="electricidad">Electricidad</option>
            <option value="fontaneria">Fontanería</option>
            <option value="jardineria">Jardinería</option>
            <option value="limpieza">Limpieza</option>
            <option value="pintura">Pintura</option>
            <option value="reparaciones">Reparaciones</option>
            <option value="climatizacion">Climatización</option>
            <button type="submit">Buscar</button>
        </select>

    </form>
</section>
    
*@










